/* Universals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

em {
  font-family: 'DM Serif Text', serif;
  font-size: 1.2vw;
}

p {
  font-size: 1.2vw;
  line-height: 1.5em;
}

/* Structure */
body {
  color: white;
  font-family: 'Arial', sans-serif;
}

ol {
  padding: 28px 28px 56px 28px;
  margin-bottom: 15vh;
  background: #0439D9;
}

ol > li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

ol > li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 8vh;
  margin-top: 8vh;
}

/* Intro */
h1 {
  font-size: 5vw;
  width: 60%;
}

/* Skills */
section {
  width: 40%;
  display: flex;
  align-items: baseline;
}

h3 {
  font-size: 1.4vw;
}

h3 + p {
  margin-left: 2vw;
}

/* Work */
h2 {
  position: sticky;
  position: -webkit-sticky;
  top: 28px;
  font-size: 2vw;
}

h2 > span {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

ul {
  padding-left: 10vw;
}

ul li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

ul li + li {
  margin-top: 5vh;
}

#wip-start {
  margin-top: 7vh;
  padding-top: 7vh;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

li > a {
  width: 40%;
}

img {
  object-fit: contain;
  width: 100%;
  box-shadow: 5px 5px 0 #FFBF1F;
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out, filter 100ms ease-in-out;
}

img:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.wip:hover {
  filter: opacity(70%);
}

aside {
  width: 55%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

aside p {
  width: 70%;
}

/* Footer */
footer {
  height: 15vh;
  width: 100%;
  background: #DF421B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: -5;
}

/* Mobile */
@media (max-width: 414px) and (orientation: portrait) {

  p {font-size: 3vw;}
  em {font-size: 3vw;}

  /* Intro */
  h1 {font-size: 10vw; width: 75%;}

  /* Skills + Contact */
  h3 {font-size: 5vw;}

  /* Work */
  ol > li:last-of-type {flex-direction: column;}
  h2 {font-size: 5vw; margin-bottom: 5vh;}
  ul {padding-left: 0;}
  ul li {flex-direction: column;}
  aside {width: 100%; margin-bottom: 3vh;}
  aside > p {text-align: right;}
  li > a {width: 100%;}
  img {box-shadow: none;}
  img:hover {transform: none;}
  .wip:hover {filter: none;}


}
