/* GENERAL */
section {
  padding: 64px;
}

/* WELCOME */
#welcome {
  align-items: center;
}

h1 {
  font-size: 4vw;
  width: 70%;
}

/* ARROWS */
.go {
  cursor: pointer;
}

.to-work .circle:hover {
  animation: marquee-cw 5000ms linear infinite;
}

.to-top .circle:hover {
  animation: marquee-ccw 5000ms linear infinite;
}

.circle {
  opacity: 0;
}

.circle:hover {
  opacity: 1;
}

/* WORK */
#work {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 48px 64px;
}

h2 {
  font-size: 2vw;
  margin-bottom: 8vh;
}

article {
  width: 22.5%;
  height: 70vh;
}

.title {
  height: 70%;
}

.title::before {
  width: 20vw;
  height: 20vw;
}

summary {
  margin-top: 8vh;
}

summary p {
  font-size: 1.5vw;
}

#work hr {
  display: none;
}

/* CONTACT */
#contact {
  align-items: center;
}

h3 {
  cursor: pointer;
}

.copy-tap {
  display: none;
}

footer {
  width: 80%;
  margin-top: 20vh;
  display: flex;
  justify-content: space-between;
}

footer a:hover {
  border-bottom: 1px solid;
}

.attr {
  cursor: pointer;
  font-variation-settings: 'wght' 400;
  transition: font-variation-settings 250ms ease-in-out;
}

.attr-content {
  display: none;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.attr-wrap:hover .attr {
  font-variation-settings: 'wght' 700;
}

.attr-wrap:hover .attr-content {
  opacity: 1;
  display: inline;
}
